<%= form_for Post.new do |f| %>
    <div>
       <form>
         Title:<br>
         <input type="text" name="title" size="100"><br>
          <br>
          <textarea rows="10" cols="100">

          </textarea>

          <p>
            <%= f.file_field :image %>
          </p>

         <div class="actions">
           <%=f.submit %>
         </div>

       </form>
     </div>
<% end %>
