<div class="row">
  <div class="col-xs-1">
    <%= image_tag post.user.avatar.url, class: "img-responsive img-circle" %>
  </div>
  <div class="col-xs-8">
     <p><%= post.title %>
       <em><%= link_to post.user.handle, user_posts_path( post.user ) %></em>
     </p>
  </div>
</div>
