<h1><%= @user.handle %></h1>

<br>

<% @posts.each do |post| %>
   <h4><%= post.content %></h4>
<% end %>
<br>
<<<<<<< 8af1d924d853f380682cbdcb7dac7251339a639d
=======

<h1>likes</h1>
<br>
>>>>>>> resolved merge
