// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
main {
  background-color: #8FC040;
  text-align: center;
}

.container p {
  color: #006000;
}
.container a {
  color: #ffffff;
}
