// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
main {
  background: rgba(145,191,51,0.7);
  text-align: center;
}
.container p {
  color: #ffffff;
}
.container a {
  color: #ffffff;
}
.row {
  padding-left: 40px;
}
